<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-item-heading" data-cy="ItemCreateUpdateHeading" jhiTranslate="filemanagerServiceApp.item.home.createOrEditLabel">
        Create or edit a Item
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filemanagerServiceApp.item.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'filemanagerServiceApp.ItemType.null' | translate }}</option>
            <option *ngFor="let itemType of itemTypeValues" [value]="itemType">
              {{ 'filemanagerServiceApp.ItemType.' + itemType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filemanagerServiceApp.item.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filemanagerServiceApp.item.permissionUsersGroup" for="field_permissionUsersGroup"
            >Permission Users Group</label
          >
          <select
            class="form-control"
            id="field_permissionUsersGroup"
            data-cy="permissionUsersGroup"
            name="permissionUsersGroup"
            formControlName="permissionUsersGroup"
            [compareWith]="comparePermissionUsersGroup"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="permissionUsersGroupOption" *ngFor="let permissionUsersGroupOption of permissionUsersGroupsSharedCollection">
              {{ permissionUsersGroupOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
