<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-file-data-heading"
        data-cy="FileDataCreateUpdateHeading"
        jhiTranslate="filemanagerServiceApp.fileData.home.createOrEditLabel"
      >
        Create or edit a File Data
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filemanagerServiceApp.fileData.binery" for="field_binery">Binery</label>
          <div>
            <div *ngIf="editForm.get('binery')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('binery')!.value!, editForm.get('bineryContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Open</a
              ><br />
              <span class="pull-start">{{ editForm.get('bineryContentType')!.value }}, {{ byteSize(editForm.get('binery')!.value!) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ binery: undefined, bineryContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_binery"
              data-cy="binery"
              (change)="setFileData($event, 'binery', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="binery" id="field_binery" data-cy="binery" formControlName="binery" />
          <input
            type="hidden"
            class="form-control"
            name="bineryContentType"
            id="field_bineryContentType"
            formControlName="bineryContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="filemanagerServiceApp.fileData.item" for="field_item">Item</label>
          <select class="form-control" id="field_item" data-cy="item" name="item" formControlName="item" [compareWith]="compareItem">
            <option [ngValue]="null"></option>
            <option [ngValue]="itemOption" *ngFor="let itemOption of itemsSharedCollection">{{ itemOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
